@use "../../styles/variables" as *;

.todolist-Wrapper {
  max-width: 300px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: $baseUnit;
  border: 1px solid red;
  padding: $baseUnit*2;
  background-color: #c5c3c3;
  border-radius: $baseUnit*2;


}
.listTitle {
  display: flex;
  align-items: center; /* по центру по вертикали */
  //justify-content: space-between; /* кнопка справа */
  gap: $baseUnit; /* расстояние между текстом и кнопкой */
}

.inputAddTask {
  width: 100%;
  padding: $baseUnit;
  border: 1px solid black;
  border-radius: $baseUnit;
  font-weight: 500;
  max-height: 40px;

}

.inputWrapper {
  display: flex;
  align-items: center; /* по центру по вертикали */
  //justify-content: space-between; /* кнопка справа */
  gap: $baseUnit; /* расстояние между текстом и кнопкой */
  position: relative;
}

.inputWrapper::after {
  content: attr(data-length);
  position: absolute;
  right: $baseUnit*4;
  top: -$baseUnit;
  transform: translateY(-50%);
  font-size: 12px;
  color: #555;
  pointer-events: none;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: $baseUnit;
  margin-top: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  gap: 4px;
  padding-right: $baseUnit;
}

.task {

}

.task-isDone {
  @extend .task;
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
}

.push {
  margin-left: auto;
}

.tasks {
  max-height: 180px;
  overflow-y: auto;
  min-width: 0;              // для flex
  white-space: normal;       // разрешаем перенос
  overflow-wrap: anywhere;   // ломаем длинные слова
  word-break: break-word;
}