.grid {
  display: grid;

  /* дефолты */
  --grid-template: repeat(auto-fit, minmax(200px, 1fr));
  --grid-gap: 1rem;
  --grid-row-gap: var(--grid-gap);
  --grid-place: auto;

  grid-template-columns: var(--grid-template);
  gap: var(--grid-gap);
  row-gap: var(--grid-row-gap);
  place-items: var(--grid-place);
}
