*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: cadetblue;
}
h2 {
    padding: 20px 0;
}
ul {
    list-style: none;
}

/*section {*/
/*    margin: 60px 0;*/
/*}*/
