@mixin grid-wrapper {
  display: grid;

  grid-template-columns: var(
    --grid-template,
                  repeat(
                                  auto-fit,
                                  minmax(
                                                  var(--grid-min-col, 200px),
                                                  var(--grid-max-col, 1fr)
                                  )
                  )
  );

  gap: var(--grid-gap, 1rem);
  row-gap: var(--grid-row-gap, var(--grid-gap, 1rem));
  place-items: var(--grid-place, auto);
}
