@use "../../../styles/variables" as *;

.main {
  padding: $baseUnit*5 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: cadetblue;
}

.mainWrapper {
  display: flex;
}

.addListBtn {
  width: 100%;
}

